# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/build
/dist
.env
/.pnp
.pnp.js

#Archivos de Capacitor y Android
/android 
/ios
*.iml
.DS_Store